.text-box {
    font-weight: bold;
    font-size: 15px;
    color: #8b0000;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 15px;
    border-bottom: 2px solid #8b0000;
    padding-bottom: 5px;
    text-align: left;
}
